{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Корзина</h1>
{% if cart %}
    {% include 'order/item.html.twig' with {'cart': cart} %}

    <a href="{{ path('complete_order') }}">Оформить заказ</a>

{% else %}

{% endif %}
{% endblock %}