@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,700&subset=cyrillic");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #474747; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-top .logo-block span {
    background-color: #474747;
    display: inline-block;
    padding: 7px 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif; }

.location-info {
  background-color: #474747;
  color: #fff;
  padding: 5px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .location-info ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .location-info a {
    text-decoration: none;
    color: #bbb; }

.container {
  max-width: 1280px;
  margin: auto; }

.row {
  padding: 0 16px;
  clear: both; }

.navigation {
  background: #356aa0;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #356aa0 0%, #356aa0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#356aa0), to(#356aa0));
  background: -o-linear-gradient(top, #356aa0 0%, #356aa0 100%);
  background: linear-gradient(to bottom, #356aa0 0%, #356aa0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 );
  /* IE6-9 */ }
  .navigation ul {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: 960px;
    margin: auto;
    padding: 0; }
  .navigation li {
    padding: 8px 10px;
    text-align: center; }
  .navigation li:hover {
    background: #3c85c2; }
  .navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }

.profile-login-form label {
  display: block;
  color: #3c85c2; }

.profile-login-form input[type="text"], .profile-login-form input[type="password"] {
  height: 35px;
  width: 75%;
  border: 1px solid #3c85c2;
  font-size: 16px;
  padding: 0 0 0 10px;
  margin: 4px 0; }

.profile-login-form input[type="submit"] {
  height: 35px;
  width: 180px;
  color: #fff;
  background-color: #356aa0;
  border: none; }

.search-block {
  -webkit-flex-basis: 450px;
      -ms-flex-preferred-size: 450px;
          flex-basis: 450px; }
  .search-block input[type="submit"] {
    height: 35px;
    padding: 0 10px;
    color: #fff;
    background-color: #356aa0;
    border: none; }
  .search-block input[type="text"] {
    height: 32px;
    width: 68%;
    border: 1px solid #3c85c2;
    font-size: 16px;
    padding: 0 0 0 10px;
    margin: 4px 0; }

.white-popup {
  position: relative;
  background: #fff;
  padding: 30px;
  width: auto;
  max-width: 500px;
  margin: 20px auto; }

.products-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .products-items .products-item {
    padding: 10px; }
  .products-items .product-item-block-wrapp {
    border: 1px solid #ddd;
    -webkit-flex-basis: 270px;
        -ms-flex-preferred-size: 270px;
            flex-basis: 270px;
    margin: 10px 0; }
  .products-items .product-item--title {
    font-weight: bold;
    text-align: center; }
  .products-items .product-item--price {
    font-size: 18px;
    font-weight: bold;
    color: #0d6aad;
    margin: 7px 0; }
  .products-items a {
    text-decoration: none; }

.btn {
  display: inline-block;
  padding: 7px 15px;
  color: #fff;
  font-weight: bold; }

.btn-primary {
  background-color: #0d6aad; }

.btn-danger {
  background-color: #c9302c; }

.dropdown {
  position: relative; }
  .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    background-color: #356aa0; }

.dropdown:hover .dropdown-menu {
  display: block; }

.alert {
  margin: 15px 0; }

.alert-success {
  background-color: aquamarine;
  padding: 10px; }
