{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
    <div class="section-products-list">
        {% include '/product/blocks/products-loop.html.twig' with {'products': products} %}
    </div>
{% endblock %}



