@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700&subset=cyrillic');

$font-size: 16px;
$font-family: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$font-color: #474747;
$color-white: #fff;



body {
	margin: 0;
	padding: 0;
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
}

.header-top {
	display: flex;
	justify-content: space-between;
	padding: 15px 40px;
	align-items: center;

	.logo-block {

		span {
			background-color: #474747;
			display: inline-block;
			padding: 7px 20px;
			color: $color-white;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			font-family: $oswald;
		}
	}
}
.location-info {
	background-color: #474747;
	color: $color-white;
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;

	ul {
		list-style: none;
		padding:0;
		margin:0;
	}

	a {
		text-decoration: none;
		color: #bbb;
	}
}
.container {
	max-width: 1280px;
	margin: auto;
}
.row {
	padding: 0 16px;
	clear: both;
}

.navigation {
	background: rgb(53,106,160); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */

	ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
		max-width: 960px;
		margin: auto;
		padding:0;
	}
	li {
		padding: 8px 10px;
		text-align: center;
	}
	li:hover {
		background: rgb(60, 133, 194);
	}
	a {
		color: $color-white;
		text-decoration: none;
        text-transform: uppercase;
	}
}
.profile-login-form {
	label {
		display:block;
		color: rgb(60, 133, 194);
	}
	input[type="text"], input[type="password"] {
		height: 35px;
		width: 75%;
		border: 1px solid rgb(60, 133, 194);
		font-size: $font-size;
		padding: 0 0 0 10px;
		margin: 4px 0;
	}
	input[type="submit"] {
		height: 35px;
		width: 180px;
		color: $color-white;
		background-color: rgb(53,106,160);
		border: none;
	}
}
.search-block {
	flex-basis: 450px;
	input[type="submit"] {
		height: 35px;
		padding: 0 10px;
		color: $color-white;
		background-color: rgb(53,106,160);
		border: none;
	}
	input[type="text"] {
		height: 32px;
		width: 68%;
		border: 1px solid rgb(60, 133, 194);
		font-size: $font-size;
		padding: 0 0 0 10px;
		margin: 4px 0;
	}
}
.white-popup {
	position: relative;
	background: $color-white;
	padding: 30px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}

.products-items {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	flex-wrap: wrap;

	.products-item {
		padding: 10px;
	}

	.product-item-block-wrapp {
		border: 1px solid #ddd;
		flex-basis: 270px;
		margin: 10px 0;
	}
	.product-item--title {
		font-weight: bold;
		text-align: center;
	}

	.product-item--price {
		font-size: 18px;
		font-weight: bold;
		color: #0d6aad;
		margin: 7px 0;
	}
	a {
		text-decoration: none;
	}
}
.btn {
	display: inline-block;
	padding: 7px 15px;
	color: #fff;
	font-weight: bold;
}
.btn-primary {
	background-color: #0d6aad;
}
.btn-danger{
	background-color: #c9302c;
}
.dropdown {
	position: relative;

	.dropdown-menu {
		display: none;
		position: absolute;
		top: 38px;
		left: 0;
		background-color: rgb(53,106,160);
	}
}
.dropdown:hover .dropdown-menu {
	display: block;
}